h1, p {
  font-family: Lato;
}

#library {
  height: auto;
  margin: auto;
  padding: 20px;
}

table, th, td, tr {
  border: 1px solid black !important;
  text-align: center !important; 
  vertical-align: middle ;
}

.row-padding {
  padding: 5px;
  justify-content: center;
}

.form-field {
  margin: 5px;
}